/* Preloader */

$light: #8A46F3;
$accent: #A666FF;

#loader {
  position: fixed;
  top: -100px;
  left: 20px;
  animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari and Chrome */
  -o-animation: fadein 5s; /* Opera */
}

#loader-text {
  position: fixed;
  top: -30px;
  left: -20px;
  font-size: 18px;
  color: #FFF;
  letter-spacing: 2px !important;
}

@media screen and (max-width: 414px) {
  #loader {
    top: -160px !important;
    left: 10px !important;
  }
  #loader-text {
    top: -100px !important;
    left: -20px !important;
  }
}

@media screen and (max-width: 1024px) {
  #loader {
    top: -180px;
    left: 20px;
  }
  #loader-text {
    top: -100px;
    left: -20px;
  }
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

.loading {
  background: $light;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#loading5 {
  position: relative;
  width: 3em;
  height: 3em;
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0;
  background-color: rgba($light, 1.0);
  -webkit-transform: (translateX(-50%) translateY(-50%) rotateX(45deg) rotateZ(45deg));
  -moz-transform: (translateX(-50%) translateY(-50%) rotateX(45deg) rotateZ(45deg));
  -o-transform: (translateX(-50%) translateY(-50%) rotateX(45deg) rotateZ(45deg));
  transform: (translateX(-50%) translateY(-50%) rotateX(45deg) rotateZ(45deg));
  -webkit-animation: loading5 2s infinite;
  -moz-animation: loading5 2s infinite;
  -o-animation: loading5 2s infinite;
  animation: loading5 2s infinite;
  
  &, &::after, &::before {
    backface-visibility:hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  &::after, &::before {
    display: block;
    width: 3em;
    height: 3em;
    content: '';
    background: rgba($light, 0.7);
    position: absolute;
  }
  
  &::before {
    top: 3em;
    left: 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  
  &::after {
    top: 0;
    left: 3em;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-animation: loading5a 2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation: loading5a 2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-animation: loading5a 2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: loading5a 2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

@-webkit-keyframes loading5 {
  0% {
    background: rgba($light, 1.0);
    -webkit-transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateZ(0deg);
  }
  100% {
    background: rgba($light, 0.7);
    -webkit-transform: translateX(-50%) translateY(-50%) rotateX(90deg) rotateZ(90deg);
  }
}
@-moz-keyframes loading5 {
  0% {
    background: rgba($light, 1.0);
    -moz-transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateZ(0deg);
  }
  100% {
    background: rgba($light, 0.7);
    -moz-transform: translateX(-50%) translateY(-50%) rotateX(90deg) rotateZ(90deg);
  }
}
@-o-keyframes loading5 {
  0% {
    background: rgba($light, 1.0);
    -o-transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateZ(0deg);
  }
  100% {
    background: rgba($light, 0.7);
    -o-transform: translateX(-50%) translateY(-50%) rotateX(90deg) rotateZ(90deg);
  }
}
@keyframes loading5 {
  0% {
    background: rgba($light, 1.0);
    transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateZ(0deg);
  }
  100% {
    background: rgba($light, 0.7);
    transform: translateX(-50%) translateY(-50%) rotateX(90deg) rotateZ(90deg);
  }
}

@-webkit-keyframes loading5a {
  0% {
    background: rgba($light, 0.7);
  }
  100% {
    background: rgba($light, 1.0);
  }
}
@-moz-keyframes loading5a {
  0% {
    background: rgba($light, 0.7);
  }
  100% {
    background: rgba($light, 1.0);
  }
}
@-o-keyframes loading5a {
  0% {
    background: rgba($light, 0.7);
  }
  100% {
    background: rgba($light, 1.0);
  }
}
@keyframes loading5a {
  0% {
    background: rgba($light, 0.7);
  }
  100% {
    background: rgba($light, 1.0);
  }
}
