<ngx-spinner bdColor="#2B2040" color="transparent">
  template="
  <div id="loader">
    <div class="row h-100">
      <div class="col-md-4">
        <div class="loading" id="loading5"></div>
      </div>
    </div>
  </div>
  "
  <p id="loader-text">LOADING...</p>
</ngx-spinner>

<div class="row container-full">
  <div class="col-12 col-lg-9 h-100">
    <div class="center-page">
      <div class="orbit-container">
        <div class="number-wrapper" _ngcontent-fdj-c0="">
          <div _ngcontent-fdj-c0="" class="digi-number">
            {{ currentBlockNumber }}
          </div>
        </div>
        <div id="viz"><svg></svg></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 h-100 validator-info">
    <div
      class="panel-right"
      *ngFor="let validator of validatorsJson; index as i"
    >
      <a name="validator-{{ i }}"></a>
      <h3 class="affiliate-title">{{ validator.name }}</h3>
      <div class="affiliate-img">
        <img [src]="validator.logo" />
      </div>
      <div>
        <div class="affiliate-site">
          <a href="https://www.energyweb.org/" target="_blank">{{
            validator.website
          }}</a>
        </div>
        <div class="affiliate-desc">
          <p>
            {{ validator.description }}
          </p>
        </div>
        <div class="affiliate-member-since">
          <div class="mb-1">Member Since</div>
          <div class="m-year">{{ validator.memberSince }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
