.orbit-container {
  position: relative;
  transform: rotateX(55deg) translateY(-2300px) scale(0.5);
  margin: 0 auto;
}
.validator-info {
  &.h-100 {
    overflow: hidden auto;
  }
}
@keyframes modifiedBounce {
  from {
    transform: translate(-28px, -140px) scale(2) rotateY(55deg);
  }
  to {
    transform: translate(-28px, -142px) scale(2) rotateY(55deg);
  }
}
