.orbit-container {
  position: relative;
  margin: 0 auto;
}
.center-page {
  transform: rotateX(55deg);
  overflow: visible !important;
}
.validator-info {
  &.h-100 {
    overflow: hidden auto;
  }
}

.zoom-controls {
  position: absolute;
  bottom: 20px;
  right: 30px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  button {
    &:first-of-type {
      margin-bottom: 14px;
    }
    &.plus {
    }
    &.minus {
    }
    &.disabled {
      background: #50465f;
    }
    background: #2fcccc;
    font-weight: bold;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}
#c-details {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(12, 8, 22, 0.9);
  padding: 16px;
  flex-direction: column;
  display: none;
  z-index: 101;
  &.active {
    display: flex;
  }
  a {
    font-size: 1.2em;
  }
  .name,
  .logo,
  .website,
  .description {
    margin-bottom: 16px;
  }
  .description,
  .member-since {
    & p {
      color: #fff;
      opacity: 0.7;
      margin-bottom: 0;
    }
  }
  .description {
    height: 100%;
    overflow: auto;
  }
  .member-since {
    font-weight: bold;
  }
  .header {
    display: flex;
    line-height: 3rem;
    justify-content: flex-end;
    align-items: center;
    .close-btn {
      border: none;
      background: none;
      color: #4bb0a1;
      font-size: 3rem;
      padding: 0;
    }
  }
  .logo {
    width: 100%;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    img {
      height: 160px;
      width: auto;
    }
  }
}
@keyframes modifiedBounce {
  from {
    transform: translate(-28px, -140px) scale(2) rotateY(55deg);
  }
  to {
    transform: translate(-28px, -142px) scale(2) rotateY(55deg);
  }
}
